#Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=

# Youtube
YOUTUBE_API_KEY=qwerty123

# App
APP_URL=http://localhost:3000
APP_PORT=3000
APP_ORIGINS=*
APP_HOST=0.0.0.0
APP_THROTTLE_ENABLED=false

# Auth
AUTH_EMAIL_ENABLED=false
AUTH_ACCESS_SECRET=localaccesssecret
AUTH_REFRESH_SECRET=localrefreshsecret
AUTH_ACCESS_TTL_MIN=15
AUTH_REFRESH_TTL_DAYS=30
AUTH_COOKIE_DOMAIN=.echohq.com
AUTH_COOKIE_PATH=/auth
AUTH_COOKIE_SAMESITE=Lax
AUTH_COOKIE_SECURE=true

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Internal
INTERNAL_SECRET_CRON=qwerty123

# LLM
LLM_API_KEY=
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

# Embeddings
EMBED_MODEL=text-embedding-3-small
EMBED_DIM=1536
EMBED_BATCH_SIZE=128
EMBED_MAX_TOKENS=8192
EMBED_MIN_CHARS=40

# SQL DB
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=app_db

DATABASE_SYNC=true
DATABASE_LOGGING=true

# RunPod
RUNPOD_API_KEY=
RUNPOD_ENDPOINT_ID=

# AWS S3
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minio
S3_SECRET_ACCESS_KEY=minio123
S3_BUCKET=app
S3_REGION=us-east-1

# Redis
REDIS_URL=